<!DOCTYPE html>
<html lang="en" xml:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
    <title th:text="${name}"></title>
</head>
<body>
    <h1>Hello World v3</h1>
</body>
</html>
